---

import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alex Martinez-Martinez">
	<Navbar active='project'></Navbar>
	<main>
		
	</main>
</Layout>

<style>
	main {
		padding: 4rem 3rem 2rem 3rem;
		font-size: 1.15rem;
    	line-height: 1.25;
	}
</style>
