---
interface Props {
    active: string;
}

const { active } = Astro.props;
---

<header class="primary-header flex">
    <div class="logo">
        <a href="/" aria-label="Navigate to homepage">
        <img src="favicon.svg" alt="Alex Logo - Return Home">
        </a>
    </div>
    <div
        class="mobile-nav-toggle div-menu-one"
        aria-controls="primary-navigation"
        aria-expanded="false"
    >
        <svg class="hamburger" viewBox="0 0 100 100" width="2rem" height="2rem">
            <rect class="line top" width="80" height="10" x="10" y="25" rx="5"
            ></rect>
            <rect
                class="line middle"
                width="80"
                height="10"
                x="10"
                y="45"
                rx="5"></rect>
            <rect
                class="line bottom"
                width="80"
                height="10"
                x="10"
                y="65"
                rx="5"></rect>
        </svg>
    </div>
    <nav>
        <ul
            id="primary-navigation"
            data-visible="false"
            class="primary-navigation flex"
        >
            <li class={(active === "home" ? "link active" : "link") + " sans-text"}>
                <a class="link-ref" href="/" aria-label="Navigate to homepage">Home</a>
            </li>
            <li class={(active === "project" ? "link active" : "link") + " sans-text"}>
                <a class="link-ref" href="/project" aria-label="Navigate to projects page">Projects</a>
            </li>
            <li class={(active === "publication" ? "link active" : "link") + " sans-text"}>
                <a class="link-ref" href="/publication" aria-label="Navigate to publications page">Publications</a>
            </li>
        </ul>
    </nav>
</header>
<script src="../scripts/navbar.js"></script>
<style>
.primary-header {
    --align-items: center;
    --justify-content: space-between;

    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9000;
    background: var(--bg-color);
    font-size: 1.15rem;
    line-height: 1.25;
}

.logo {
    width: 4em;
    height: 4em;
    padding-left: 1.5rem;
}

.logo:hover {
    filter: drop-shadow(0 0 0.5em var(--text-color));
}

.primary-navigation {
    --gap: 3rem;
    --align-items: center;
    --justify-content: flex-end;

    list-style: none;
    margin: 0;

    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
}

.link-ref {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.mobile-nav-toggle {
    display: none;
    cursor: pointer;
}

.active:after,
.link:after {
    transition: all 0.5s;
}

.active:after,
.link {
    position: relative;
    width: max-content;
}

.link:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    color: transparent;
    background: #4bff42;
    height: 2px;
}

.active:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: "";
    color: transparent;
    background: #ff424b;
    height: 2px;
}

.active:after,
.link:hover:after {
    width: 100%;
}

.hamburger {
    fill: var(--text-color);
}

.div-menu-one .line {
    transition:
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

.div-menu-one[aria-expanded="true"] .line {
    transition:
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms 300ms;
}

.div-menu-one[aria-expanded="true"] .top {
    y: 45;
    rotate: 45deg;
}

.div-menu-one[aria-expanded="true"] .bottom {
    y: 45;
    rotate: -45deg;
}

.div-menu-one[aria-expanded="true"] .middle {
    opacity: 0;
}

@media (max-width: 768px) {
    .primary-navigation {
        --gap: 1rem;

        position: fixed;
        inset: 0 0 0 30%;

        --flex-direction: column;
        --justify-content: flex-start;
        --align-items: flex-start;
        padding: min(30dvh, 8rem) 2em;

        z-index: 9000;
        background: #4bff42;

        transform: translateX(100%);
        transition: transform 300ms ease-in;
    }

    .logo {
        padding-left: 1rem;
    }

     .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
    }
}

</style>